@import '~sass/variables';

.combatTabs {
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        padding: 10px 15px;
        background-color: $primary-color;
        color: white;
        cursor: pointer;
        &.disabled {
            background-color: rgba(0, 0, 0, 0.3);
            border: 2px solid black;
        }
    }
}

.actionWrapper {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 116px;

    .action {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ability {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;

    .abilityInfo {        
        background-color:rgba(0, 0, 0, 0.3);
        border: 2px solid black;
        padding: 10px;

        p {
            color: $primary-color;
            display: inline-block;
            span {
                display: inline-block;
            }
        }
    }
    .abilityRolls {
        display: flex;
        justify-content: flex-end;

        .abilityRoll {
            display: flex;
            border: 2px solid black;
            border-top: 0;
            & + .abilityRoll {
                border-left: 0;
            }
            p {
                border-top: 0;
                padding: 5px 0;
                width: 36px;
                text-align: center;
                color: $primary-color;
            }
            span {
                display: inline-block;
                padding: 5px 10px;
                background-color:  rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.item {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;

    .itemInfo {        
        background-color:rgba(0, 0, 0, 0.3);
        border: 2px solid black;
        padding: 10px;

        p {
            color: $primary-color;
            display: inline-block;
            span {
                display: inline-block;
            }
        }
    }
}

.buttonWrapper {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    box-sizing: border-box;
    width: 100%;

    a {
        color: white;
        display: block;
        box-sizing: border-box;
        padding: 20px 15px;
        width: 50%;
        text-align: center;
        border-top: 2px solid white;
        cursor: pointer;
        
        & + a {
            border-left: 2px solid white;
        }
        &:nth-of-type(3) {
            border-left: 0 !important;
        }
    }
}

@media (min-width: 768px) {
    .actionWrapper {
        padding-top: 60px;
    }
    .buttonWrapper {
        max-width: 880px;
        margin: 0 auto;
        right: 0;
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}