.balance-outer-wrapper {
    // min-height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.balance-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;
    box-sizing: border-box;
}

.balance-orb {
    height: 50px;
    width: 50px;
    flex-grow: 0;
    flex-shrink: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
        cursor: pointer;
    }
    &-light {
        background-image: url('~/assets/images/balance-orb-light.png');
    }
    &-dark {
        background-image: url('~/assets/images/balance-orb-dark.png');
    }
}

.balance-beam-wrapper {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    position: relative;
}

.balance-beam {
    height: 15px;
    border: 2px solid black;
    box-sizing: border-box;

    &-light {
        background-color: #d3b213;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-right: 0;
    }
    &-dark {
        background-color: #6644cd;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-left: 0;
    }
}

.balance-counter {
    padding: 5px 0;
    width: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);    
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    border: 2px solid black;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    position: absolute;
    left: calc(50% - 20px);
    top: 42px;
}

@media (min-width: 768px){
    .balance-outer-wrapper {
        // min-height: calc(100vh - 285px);
    }
    .balance-orb {
        width: 100px;
        height: 100px;
    }
    .balance-counter {
        top: 67px;
    }
}